.hero{
    margin: 0; /* Usuń marginesy wokół body */
    background-image: url("/assets/images/Background_AI.png");
    background-repeat: no-repeat;
    background-size: cover; /* Dopasuj szerokość do przeglądarki, wysokość w proporcjach */
    background-position: center top;  
}

.column{
    margin-top: 10%;
}

img{
    margin-bottom: 1%;
}

.field{
    margin: 2%;
}