<router-outlet></router-outlet>

<nav class="level" *ngIf="this.loggedUser != null">
    <div class="level-item has-text-centered">
        <button class="button is-large" (click)="NavFleet()">Fleet</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large" (click)="NavResources()">Resources</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large" (click)="NavColonies()">Colonies</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large" (click)="NavNavigation()">Navigation</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large" (click)="NavCrafting()">Crafting</button>
    </div>
  </nav>