<router-outlet></router-outlet>

<nav class="level" *ngIf="this.loggedUser">
    <div class="level-item has-text-centered">
        <button class="button is-large">Fleet</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large">Resources</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large">Colonies</button>
    </div>

    <div class="level-item has-text-centered">
        <button class="button is-large">Navigation</button>
    </div>
  </nav>