<section class="hero is-fullheight">
    <div class="fixed-grid">
        <div class="grid">
          <div class="cell" id="SC_BCK">
            @if (showSC) {
              <div class="columns">
                <div class="column" id="SC_STATS">
                  <label class="label has-text-centered">{{this.selectedSpacecraft.name}}</label>
                  <i class="fas fa-solid fa-expand fa-beat" style="color: #FF0000;"></i>{{" " + this.selectedSpacecraft.attackPower}} Attack Power<br>
                  <i class="fas fa-solid fa-hexagon-nodes-bolt" style="color: #FF0000;"></i>
                  @if (this.selectedSpacecraft.hasHyperdrive) {
                    Has Hyperdrive
                  }
                  @else {
                    Does not have Hyperdrive
                  }<br>
                  <i class="fas fa-solid fa-weight-hanging" style="color: #FF0000;"></i>{{" " + this.selectedSpacecraft.capacity}} Capacity
                </div>
                <div class="column">
                  <figure class="image">
                    <img [src]="shipImageSRC" />
                </figure>
                </div>
              </div>
            }
          </div>
          <div class="cell  has-text-centered">
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="box">Your Fleet</div>
                </div>
                <div class="column">
                    <img src="/assets/images/LogoSTF_White.png" alt="logo" class="fixed-size-img">
                </div>
            </div>
            <nav class="panel is-link">
                @for (spacecraft of spaceFleet; track spacecraft.name) {
                    <a class="panel-block is-active" (click)="showSpacecraftInfo(spacecraft.U_SID)">
                        <span class="panel-icon">
                            <i class="fas fa-space-shuttle"></i>
                        </span>
                        {{spacecraft.name}}
                      </a>
                    }
              </nav>
          </div>
          <div class="cell">

          </div>
          <div class="cell">
    
          </div>
        </div>
      </div>
</section>
