<section class="hero is-fullheight">
    <div class="fixed-grid">
        <div class="grid has-text-centered">
          <div class="cell">

          </div>
          <div class="cell">
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="box">I'm in a box.</div>
                </div>
                <div class="column">
                    <img src="/assets/images/LogoSTF_White.png" alt="logo" class="fixed-size-img">
                </div>
            </div>
            <nav class="panel">

              </nav>
          </div>
          <div class="cell">

          </div>
          <div class="cell">
    
          </div>
        </div>
      </div>
</section>
